@import url(public.css);
/*头部*/
.header{
    width:100%;
    height:90px;
    margin:0 auto;
    background: #d5c9bd;
    padding-top:13px;
}
.header .logo{
    width:295px;
    height:63px;
    margin:0 auto;
    background: url("../images/logo.png") no-repeat;
}

/*导航*/
.nav{
    width:100%;
    height:50px;
    background: #462327;
}
.nav .nav-center{
    width:1200px;
    height:50px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav .nav-center li{
    width:auto;
    height:auto;
    display: flex;
    align-items: center;
}
.nav .nav-center li span{
    float: left;
    width:5px;
    height:5px;
    border-radius:50%;
    background: #ed965f;
    margin-right:7px;
    opacity: 0;
}
.nav .nav-center li a{
    color: #ffa265;
    font-size: 16px;
}
.nav .nav-center li .nav-color{
    color: #ffd7bc;
}
.nav .nav-center li a:hover{
    color: #ffd7bc;
}
.nav .nav-center li:hover span{
    opacity: 1;
}
/*banner*/
.banner{
    width:100%;
    height:auto;
}
.banner .banner-ba{
    width:100%;
    height:457px;
    position: relative;
}
.banner ul{
    width:100%;
    height:auto;
    position: relative;
}
.banner ul li{
    position: absolute;
    display: block;
    width:100%;
    height:auto;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}
.banner ul .down{
    z-index: 2;
    opacity: 1;
}
.banner ul li a{
    display: block;
    width:100%;
    height:auto;
}
.banner ul li a img{
    display: block;
    width:100%;
    height:auto;
}
.banner .banner-list{
    width:95px;
    height:10px;
    position: absolute;
    left:50%;
    margin-left:-47.5px;
    bottom:20px;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
}
.banner .banner-list .banner-list-fo{
    width:10px;
    height:10px;
    border-radius: 50%;
    background: #f7f7f7;
    cursor: pointer;
}
.banner .banner-list .row{
    background: #c77c51;
}
.banner .le-ri{
    width:1200px;
    height:64px;
    position: absolute;
    top:50%;
    margin-top:-32px;
    left:50%;
    margin-left:-600px;
    z-index: 999999;
}
.banner .left{
    width:64px;
    height:64px;
    position: absolute;
    left:0;
    background: url("../images/banner-l.png") no-repeat;
}
.banner .right{
    width:64px;
    height:64px;
    position: absolute;
    right:0;
    background: url("../images/banner-r.png") no-repeat;
}
/*内容1*/
.content{
    width:100%;
    height:688px;
}
.content .img{
    width:100%;
    height:688px;
    background: url("../images/hll/con1.png") no-repeat center;
}

/*关于产品*/
.gysp{
    width:100%;
    height:1294px;
    background: #d5c9bd;
    padding-top:145px;
}
.gysp .gy-top{
    width:1200px;
    height:88px;
    margin:0 auto;
    margin-bottom:59px;

}
.gysp .gy-top a{
    display: block;
}
.gysp .gy-top .img{
    width:385px;
    height:88px;
    margin:0 auto;
    background: url("../images/hll/con2.png") no-repeat;
}
.gysp .gy-center{
    width:1200px;
    height:548px;
    margin:0 auto;
    margin-bottom:36px;
}
.gysp .gy-center a{
    display: block;
}
.gysp .gy-center a img{
    display: block;
    width:1200px;
    height:548px;
}
.gysp .wrap{
    font-family: "微软雅黑";
    width:1200px;
    height:20px;
    margin:0 auto;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
}
.gysp .wrap .wrap-wr{
    overflow: hidden;
    line-height: 20px;
}
.gysp .wrap .wrap-wr span{
    float: left;
    width:6px;
    height:20px;
    background: #f24a48;
    margin-right: 2px;
}
.gysp .wrap .wrap-wr a{
    color: #462327;
    text-decoration: underline;
}
.gysp .wrap1{
    margin-top:20px;
    margin-bottom:200px;
}
.gysp .gy-top .img1{
    width:385px;
    height:88px;
    margin:0 auto;
    background: url("../images/hll/con4.png") no-repeat;
}
/*铁府新品*/
.nowund{
    width:100%;
    height:663px;
}
.nowund a{
    display: block;
}
.nowund a .img{
    display: block;
    width:100%;
    height:663px;
    background: url("../images/hll/con5.png") no-repeat center;
}
/*新品分类*/
.broad{
    width:100%;
    height:962px;
    background: #d5c9bd;
    padding-top:160px;
}
.broad .list{
    width:1022px;
    height:650px;
    margin:0 auto;
}
.broad .list a{
    display: block;
}
.broad .list a img{
    width:1022px;
    height:650px;
    display: block;
}
/*站底*/
.foot{
    width:100%;
    height:455px;
    background: #d5c9bd;
}
.foot .foot-logo{
    width:1200px;
    height:135px;
    margin:0 auto;
}
.foot .foot-logo .img{
    width:325px;
    height:88px;
    margin:0 auto;
    background: url("../images/logo2.png") no-repeat;
}
.foot .bottom{
    width:100%;
    height:320px;
    background: url("../images/foot1.png") no-repeat center;
}
.foot .bottom1{
    width:1200px;
    height:320px;
    margin: 0 auto;
    position: relative;
    padding-top:106px;

}
.foot .bottom1 .totop{
    width:70px;
    height:70px;
    border-radius:50%;
    background: rgba(255,255,255,.4);
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -35px;
}
.foot .bottom1 .topin{
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
}
@keyframes upDown {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}
.foot .bottom1 .topin span{
    transition: all 0.5s ease;
    display: block;
    width: 30px;
    height: 18px;
    background: url("../images/toTop.png") no-repeat center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation-name: upDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.foot .bottom1 .totop:hover .topin{
    background: #a7eca2 ;
}
.foot .bottom1 .fo-content{
    width:332px;
    height:58px;
    margin:0 auto;
}
.foot .bottom1 .fo-top{
    width:301px;
    height:33px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.foot .bottom1 .fo-topin{
    display: block;
    width:33px;
    height:33px;
    border-radius:50%;
    background: #fff;
    position: relative;
}
.foot .bottom1 .fo-topin .img{
    width:15px;
    height:16px;
    background: url("../images/foot2.png") no-repeat;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
.foot .bottom1 .fo-topin .img1{
    width:20px;
    height:17px;
    background: url("../images/foot3.png") no-repeat;

}
.foot .bottom1 .fo-topin .img2{
    width:20px;
    height:17px;
    background: url("../images/foot4.png") no-repeat;
}
.foot .bottom1 .fo-bottom{
    width:332px;
    height:25px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    padding-right:5px;
}
.foot .bottom1 .fo-foot{
    margin-top:46px;
    text-align: center;
    overflow: hidden;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}